In [1]:
# 데이터를 가져오는 방법
# 1.외부파일을 파이썬으로 불러오기
# 2.api활용
# 3.홈페이지 정보 가져오기

In [2]:
# 예시
f = open('abc.csv','r')
print(f.read())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'abc.csv'

In [3]:
import csv

In [4]:
f=open('abc.csv','r')
file_read = csv.reader(f)
for i in file_read:
    print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'abc.csv'

In [5]:
f = open('write.csv','w',newline='')
wr = csv.writer(f)
wr.writerow([1,2,3])
wr.writerow([4,5,6])

f.close()

In [7]:
# 판다스 모듈 사용
import pandas as pd
excel = pd.read_excel('11차시_pandas모듈예시.xls','Sheet1')
print(type(excel))
print(excel)

<class 'pandas.core.frame.DataFrame'>
     N  year   A     B  start_page  end_page
0    1  2019  10   1.4         717       723
1    2  2020  11   2.5         724       736
2    3  2021  12   3.6         737       747
3    4  2022  13   4.7         748       764
4    5  2023  14   5.8         765       784
5    6  2024  15   6.9         785       796
6    7  2025  16   8.0         797       819
7    8  2026  17   9.1         820       832
8    9  2027  18  10.2         833       852
9   10  2028  19  11.3         853       864
10  11  2029  20  12.4         865       889
11  12  2030  21  13.5         890       903
12  13  2031  22  14.6         904       919
13  14  2032  23  15.7         920       930
14  15  2033  24  16.8         931       956
15  16  2034  25  17.9         957       966
16  17  2035  26  19.0         967       985
17  18  2036  27  20.1         986      1016
18  19  2037  28  21.2        1017      1028

In [6]:
!pip install xlrd # 위의 코드실행하려면 먼저 실해해주여야 하는 사항

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB 5.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [8]:
# pandas 모듈 활용
print(excel.mean())

N               10.000000
year          2028.000000
A               19.000000
B               11.300000
start_page     853.473684
end_page       868.894737
dtype: float64

In [9]:
print(excel.head(5))

   N  year   A    B  start_page  end_page
0  1  2019  10  1.4         717       723
1  2  2020  11  2.5         724       736
2  3  2021  12  3.6         737       747
3  4  2022  13  4.7         748       764
4  5  2023  14  5.8         765       784

In [10]:
print(excel.describe())

               N         year          A          B   start_page     end_page
count  19.000000    19.000000  19.000000  19.000000    19.000000    19.000000
mean   10.000000  2028.000000  19.000000  11.300000   853.473684   868.894737
std     5.627314     5.627314   5.627314   6.190046    94.189743    96.249615
min     1.000000  2019.000000  10.000000   1.400000   717.000000   723.000000
25%     5.500000  2023.500000  14.500000   6.350000   775.000000   790.000000
50%    10.000000  2028.000000  19.000000  11.300000   853.000000   864.000000
75%    14.500000  2032.500000  23.500000  16.250000   925.500000   943.000000
max    19.000000  2037.000000  28.000000  21.200000  1017.000000  1028.000000

In [12]:
# 열기준정렬
print(excel.sort_values(by='year',ascending=False))

     N  year   A     B  start_page  end_page
18  19  2037  28  21.2        1017      1028
17  18  2036  27  20.1         986      1016
16  17  2035  26  19.0         967       985
15  16  2034  25  17.9         957       966
14  15  2033  24  16.8         931       956
13  14  2032  23  15.7         920       930
12  13  2031  22  14.6         904       919
11  12  2030  21  13.5         890       903
10  11  2029  20  12.4         865       889
9   10  2028  19  11.3         853       864
8    9  2027  18  10.2         833       852
7    8  2026  17   9.1         820       832
6    7  2025  16   8.0         797       819
5    6  2024  15   6.9         785       796
4    5  2023  14   5.8         765       784
3    4  2022  13   4.7         748       764
2    3  2021  12   3.6         737       747
1    2  2020  11   2.5         724       736
0    1  2019  10   1.4         717       723

In [13]:
# 옵션을 활용하면 원하는 특정데이터만 불러오기가 가능
import pandas as pd
excel = pd.read_excel('11차시_pandas모듈예시.xls','Sheet1')
excel.head(10)

    N  year   A     B  start_page  end_page
0   1  2019  10   1.4         717       723
1   2  2020  11   2.5         724       736
2   3  2021  12   3.6         737       747
3   4  2022  13   4.7         748       764
4   5  2023  14   5.8         765       784
5   6  2024  15   6.9         785       796
6   7  2025  16   8.0         797       819
7   8  2026  17   9.1         820       832
8   9  2027  18  10.2         833       852
9  10  2028  19  11.3         853       864

In [14]:
import pandas as pd
excel = pd.read_excel('11차시_pandas모듈예시.xls','Sheet1',usecols='B,E,F')
excel.head(10)

   year  start_page  end_page
0  2019         717       723
1  2020         724       736
2  2021         737       747
3  2022         748       764
4  2023         765       784
5  2024         785       796
6  2025         797       819
7  2026         820       832
8  2027         833       852
9  2028         853       864

In [15]:
# 반복문을 활용하면 excel내 데이터 다루기가 용이 -> 단순히 열이름이 출력
for i in excel:
    print(i)

year
start_page
end_page

In [16]:
# items()를 활용하면 특정행데이터 불러오기가 가능
for i,j in excel.items():
    print(j[0])

2019
717
723

In [18]:
# iterrows()를 활용하면 특정 열 데이터를 불러오기가 가능
for i,j in excel.iterrows():
    print(j[2])

723
736
747
764
784
796
819
832
852
864
889
903
919
930
956
966
985
1016
1028

In [19]:
# read_csv() 활용 : csv파일 불러오기
import pandas as pd
csv = pd.read_csv('write.csv')
print(type(csv))
csv.head(1)

<class 'pandas.core.frame.DataFrame'>

   1  2  3
0  4  5  6

In [20]:
# json모듈 활용
# 1. 인코딩 : 파이썬 데이터 -> json 데이터
# 2. 디코딩 : json 데이터 -> 파이썬 데이터

# 인코딩 : dumps()활용하여 파이썬 객체를 json 문자열로 변환
import json

In [21]:
student = {
    'id' : 20200101,
    'name' : 'Hong',
    'history' : [
        {'subject':'math','grade':3.0},
        {'subject':'english','grade':4.5},
    ]
}

In [22]:
Encoding_json = json.dumps(student)

In [23]:
print(Encoding_json)

{"id": 20200101, "name": "Hong", "history": [{"subject": "math", "grade": 3.0}, {"subject": "english", "grade": 4.5}]}

In [24]:
print(type(Encoding_json))

<class 'str'>

In [25]:
# 디코드:loads()활용->json객체를 파이선 객체로 변환
import json
json_data="""{"id": 20200101, "name": "Hong", "history": [{"subject": "math", "grade": 3.0}, {"subject": "english", "grade": 4.5}]}"""

Decoding_data = json.loads(json_data)
print(Decoding_data)
print(type(Decoding_data))

{'id': 20200101, 'name': 'Hong', 'history': [{'subject': 'math', 'grade': 3.0}, {'subject': 'english', 'grade': 4.5}]}
<class 'dict'>

In [27]:
# 각각 파이선 자료형으로 변환되어 저장
print(type(Decoding_data['id']))
print(type(Decoding_data['name']))
print(type(Decoding_data['history']))
print(type(Decoding_data['history'][0]))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [28]:
# 외부데이터 다루기(api(aplication programming interface),rss)
# api는 운영체제,프로그래밍언어를 이용하여 응용 프로그램을 제어하는 것
# 전국여행지도를 보여주는 애플리케이션을 개발해야 한다면,
# 여행을 위한 데이터를 수집하여,여행지별 날씨와 위치를 파악

# api는 json형식으로 되어 있으며, 인증단계를 거친 사용자만 api활용이 가능

In [29]:
# rss(rich site summary, really simple syndication)
# 웹사이트 콘텐츠 표현 방식이나, 원하는 데이터를 가져올 때 활용