- 데이터다루기유형
- 1.데이터타입
- 2.기초통계량
- 3.데이터인덱싱필터링정렬변경
- 4.결측치이상치중복값
- 5.데이터scaling
- 6.데이터합치기
- 7.날짜시간데이터,index다루기

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('mtcars.csv')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [2]:
# 문제1
# mpg변수의 제1사분위수를 구하고 정수값으로 출력하시오.
df = pd.read_csv('mtcars.csv')
Q1=df['mpg'].quantile(0.25)
print(round(Q1))

15

In [3]:
# 문제2
# mpg값이 19이상 21이하인 데이터의 수를 구하시오.
df = pd.read_csv('mtcars.csv')
cond1 = df['mpg']>=19
cond2 = df['mpg']<=21
print(len(df[cond1&cond2]))

5

In [5]:
# 문제3
# hp변수의 IQR 값을 구하시오.
df = pd.read_csv('mtcars.csv')
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = Q3-Q1
print(IQR)

83.5

In [7]:
# 문제4
# wt변수의 상위 10개값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.
df = pd.read_csv('mtcars.csv')
top10 = df.sort_values('wt', ascending=False)
sum_top10 = sum(top10['wt'].head(10))
print(int(sum_top10))

42

In [9]:
# 문제5
# 전체 자동차에서 cyl가 6인 비율이 얼마인지 소수점 첫째짜리까지 출력하시오.
df = pd.read_csv('mtcars.csv')
len_6 = len(df[df['cyl']==6])
len_total = len(df)
print(round(len_6/len_total,1))

0.2

In [10]:
# 문제6
# 첫번째 행부터 순서대로 10개 뽐은 후 mpg 열의 평균값을 반몽림하여 점수로 출력하시오.
df = pd.read_csv('mtcars.csv')
df10 = df.loc[0:9] # df.head(10), df[:10]
mean10 = df10['mpg'].mean()
print(round(mean10))

20

In [12]:
# 문제7
# 첫번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.
df = pd.read_csv('mtcars.csv')
df50 = df[:int(len(df)/2)]
print(df50['wt'].median())

3.44

In [13]:
# 문제8
# 결측값이 있는 데이터의 수를 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

missing = df.isnull().sum()
print(missing.sum())

5

In [15]:
# 문제9
# 판매수 컬럼의 결측값을 판매수의 중앙값으로 대체하고, 판매수의 편균값을 정수로 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

Q2 = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(Q2)
print(int(df['판매수'].mean()))

15

In [24]:
# 문제 10 어려워~~
# 판매수 컬럼에 결측치가 있는 행을 제거하고,
# 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여,
# 판매수 변수의 Q1(제1사분위수) 값을 정수로 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df = df['판매수'].dropna()
df = df[:int(len(df)/2)]
print(int(df.quantile(0.25)))

5