In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('mtcars.csv')
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
# 문제11
# cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 정수로 출력하시오.

df = pd.read_csv('mtcars.csv')
cond1 = (df['cyl']==4)
cond2 = (df['cyl']==6)

cyl4 = df[cond1]['mpg'].mean()
cyl6 = df[cond2]['mpg'].mean()

print(round(abs(cyl4-cyl6)))

7

In [4]:
# 문제12
# hp 변수에 대해 데이터 표준화(z-score)를 진행하고 이상치의 수를 구하시오.
# 단, 이상치는 z값이 1.5를 초과하거나 -1.5 미만인 값이다.

df = pd.read_csv('mtcars.csv')
mean_hp = df['hp'].mean()
std_hp = df['hp'].std()
df['zscore_hp'] = (df['hp']-df['hp'].mean())/df['hp'].std()

cond1 = (df['zscore_hp'] > 1.5)
cond2 = (df['zscore_hp'] < -1.5)

print(len(df[cond1]) + len(df[cond2]))

2

In [6]:
# 문제13
# mpg 컬럼을 최소최대 scaling을 진행한 수 0.7보다 큰 값을 가지는 레코드 수를 구하여라.

df = pd.read_csv('mtcars.csv')
min_mpg = df['mpg'].min()
max_mpg = df['mpg'].max()

df['mpg_min_max'] = (df['mpg'] - min_mpg) / (max_mpg - min_mpg)
cond = (df['mpg_min_max'] > 0.7)
print(len(df[cond]))

5

In [12]:
# 문제14
# wt컬럼에 대해 상자그림 기준으로 이사치의 개수를 구하시오.

df = pd.read_csv('mtcars.csv')
Q1 = df['wt'].quantile(0.25)
Q3 = df['wt'].quantile(0.75)
IQR = Q3-Q1

lower = (Q1-1.5*IQR)
upper = (Q3+1.5*IQR)

cond1 = (df['wt']<lower)
cond2 = (df['wt']>upper)

# print(len(df[cond1|cond2]))
print(len(df[cond1])+len(df[cond2]))

3

In [14]:
# 문제15
# 판매수 컬럼의 결측치를 최소값으로 대체하고
# 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 정수로 출력하시오.

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df2 = df.copy()
min_ea = df['판매수'].min()
df2['판매수'] = df2['판매수'].fillna(min_ea)

with_m = df['판매수'].mean()
without_m = df2['판매수'].mean()

print(round(abs(without_m-with_m)))

2

In [15]:
# 문제16
# vs변수가 0이 아닌 차량 중에 mpg 값이 가장 큰 차량의 hp 값을 출력하시오.

df = pd.read_csv('mtcars.csv')

# vs변수가 0이 아닌 차량
df = df[df['vs']!=0]

# mpg변수를 내림차순
df = df.sort_values('mpg', ascending=False)

# 정렬후에 hp가 가장 높은 것
print(df['hp'].iloc[0])

65

In [16]:
# 문제17
# gear 변수값이 3, 4인 두 그룹의 hp 표준편차값의 차이를 절대값으로 소수점 첫째자리로 구하시오.

df = pd.read_csv('mtcars.csv')

gear3 = df[df['gear']==3]
gear4 = df[df['gear']==4]

std3 = gear3['hp'].std()
std4 = gear4['hp'].std()

print(round(abs(std3-std4),1))

21.8

In [30]:
# 문제18
# gear 변수의 값별로 그룹화하여 mpg평균값을 산출하고,
# 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.

df = pd.read_csv('mtcars.csv')
df

print(df.groupby('gear').mean()) # gear가 4일때 mpg값이 높음

gear4 = df[df['gear']==4]

print(gear4['mpg'].quantile(0.75))

            mpg       cyl        disp          hp      drat        wt    qsec  \
gear
3     16.106667  7.466667  326.300000  176.133333  3.132667  3.892600  17.692
4     24.533333  4.666667  123.016667   89.500000  4.043333  2.616667  18.965
5     21.380000  6.000000  202.480000  195.600000  3.916000  2.632600  15.640

            vs        am      carb
gear
3     0.200000  0.000000  2.666667
4     0.833333  0.666667  2.333333
5     0.200000  1.000000  4.400000
28.075

In [32]:
# 문제19
# hp 항목의 상위 7번째 값으로 상위 7개값을 변환한 후
# hp가 150이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.

df = pd.read_csv('mtcars.csv')

top7 = df['hp'].sort_values(ascending=False).head(7)

print(round(top7[top7>150].mean()))

248

In [4]:
# 문제19 다른풀이
# hp 항목의 상위 7번째 값으로 상위 7개값을 변환한 후
# hp가 150이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.

import pandas as pd
import numpy as np

df = pd.read_csv('mtcars.csv')

df = df.sort_values('hp', ascending=False)

# 인덱스 초기화
df = df.reset_index(drop=True) # drop=True는 기존index는 삭제한다는 의미
#print(df)

# hp 상위 7번째 값 확인
top7 = df['hp'].loc[6]
top7

# np.where 활용
df['hp'] = np.where(df['hp']>=205, top7, df['hp'])

# hp 150이상인 데이터
cond1 = (df['hp']>=150)
df = df[cond1]
print(round(df['hp'].mean()))

187

In [5]:
# 문제20
# car변수에 Merc 문구가 포함된 자동차의 mpg 평균값을 정수로 출력하시오.
df = pd.read_csv('mtcars.csv')

df2 = df[df['car'].str.contains('Merc')]
print(round(df2['mpg'].mean()))

19

In [ ]:
# 시험환경에서 답구하는 법
df = df.reset_index()
df2 = df[df['index'].str.contains("Merc")]
print(rounc(df2['mpg'].mean()))