In [8]:
import pandas as pd
import numpy as np

# 문제21
# 22년 1분기 매출액을 구하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df

          날짜 제품  판매수  개당수익
0   20220103  A    3   300
1   20220105  B    5   400
2   20230105  A    5   500
3   20230127  B   10   600
4   20220203  A   10   400
5   20220205  B   10   500
6   20230210  A   15   500
7   20230223  B   15   600
8   20230312  A   20   600
9   20230422  B   25   700
10  20220505  A   30   600
11  20230511  A   40   600

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      12 non-null     object
 1   제품      12 non-null     object
 2   판매수     12 non-null     int64
 3   개당수익    12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 512.0+ bytes

In [10]:
df['날짜']=pd.to_datetime(df['날짜'])

df['year']=df['날짜'].dt.year
df['month']=df['날짜'].dt.month
df['day']=df['날짜'].dt.day

df['매출액']=df['판매수']*df['개당수익']

df=df[df['year']==2022]
df.head()

m1=df[df['month']==1]['매출액'].sum()
m2=df[df['month']==2]['매출액'].sum()
m3=df[df['month']==3]['매출액'].sum()

print(m1+m2+m3)

11900

In [11]:
# (풀이2)

# 22년 1분기 매출액을 구하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜']=pd.to_datetime(df['날짜'])

df['매출액']=df['판매수']*df['개당수익']

df_after=df[df['날짜'].between('2022-01-01','2022-03-31')]

print(df_after['매출액'].sum())

11900

In [12]:
# (풀이3)

# 22년 1분기 매출액을 구하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜']=pd.to_datetime(df['날짜'])

df['매출액']=df['판매수']*df['개당수익']

df = df.set_index('날짜')
df_after = df.loc[(df.index<='2022-03-31')&(df.index>='2022-01-01')]
print(df_after['매출액'].sum())

11900

In [13]:
# 문제22
# 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜']=pd.to_datetime(df['날짜'])

df['year']=df['날짜'].dt.year

df['매출액']=df['판매수']*df['개당수익']

df22=df[df['year']==2022]
df23=df[df['year']==2023]

df22_sum=df22['매출액'].sum()
df23_sum=df23['매출액'].sum()

print(abs(df22_sum-df23_sum))

48600

In [32]:
# 문제23
# 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.
# 매출액=판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['날짜']=pd.to_datetime(df['날짜'])

df['year']=df['날짜'].dt.year

df['매출액']=df['판매수']*df['개당수익']

df = df[df['year']==2023]

df_a = df[df['제품']=='A']
A_sales=df_a['매출액'].sum()
print(A_sales)

df_b = df[df['제품']=='B']
B_sales=df_b['매출액'].sum()
print(B_sales)

A_sum=df_a['판매수'].sum()
print(A_sum)

46000
32500
80

In [33]:
# 문제24
# 매출액이 4천원 초과, 1만원 미만인 데이터 수를 출력하시오.
# 매출액 = 판매수*개당수익

df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40], 
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df['매출액']=df['판매수']*df['개당수익']

cond1 = (df['매출액']>4000)
cond2 = (df['매출액']<10000)

print(len(df[cond1&cond2]))

4

In [1]:
import pandas as pd
import numpy as np

# 문제25
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])

df=df.set_index('time', drop=False)

df_after=df[df['time'].between('2023-09-24 00:00:00','2023-09-24 23:59:59')]

# 시간필터링할 때 시간이 index에 있어야 함
df = df_after.between_time(start_time='16:00',end_time='22:00')

# df = df[df['time'].between('2023-09-24 16:00:00','2023-09-24 22:00:00')]

print(df['판매수'].sum())

25

In [3]:
# 문제 25 (풀이2)
# 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

df['time'] = pd.to_datetime(df['time'])

df=df.set_index('time')

df=df.loc[(df.index >= '2023-09-24 16:00:00')&(df.index <= '2023-09-24 22:00:00')]

print(df['판매수'].sum())

25

In [4]:
# 문제26
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# 매출액 = 판매수 * 개당수익

# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df['매출액'] = df['판매수'] * df['개당수익']

df  = df.reset_index()

df['time'] = pd.to_datetime(df['time'])

# between함수 쓰려면 날짜와 시간데이터가 변수에 있어야함
df = df[df['time'].between('2023-09-25 00:00:00','2023-09-25 12:00:00')]

df = df[df['물품']=='B']

print(df['매출액'].sum())

26500

In [5]:
# 문제 26(풀이2)
# 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.
# 매출액 = 판매수 * 개당수익

# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df['매출액']=df['판매수']*df['개당수익']

df=df.loc[(df.index>='2023-09-25 00:00:00')&(df.index<='2023-09-25 14:45:30')]

df=df[df['물품']=='B']

print(df['매출액'].sum())

26500

In [8]:
# 문제27
# 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.
# 매출액 = 판매수*개당수익

# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40], 
    '개당수익': [500, 600, 500, 600, 600, 700, 600] } )
df['time'] = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df = df[ ['time','물품','판매수','개당수익'] ]
df = df.set_index('time', drop=True)

df['매출액']=df['판매수']*df['개당수익']

df=df.loc[(df.index>='2023-09-24 12:00:00')&(df.index<='2023-09-24 23:59:59')]
# 24:00:00은 입력할 수 없음

df=df[df['물품']=='A']

print(df['매출액'].sum())

10000