In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('mpg.csv')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

- 데이터타입 : object,int,float

In [3]:
df.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [4]:
# 데이터타입변경
df1 = df.copy()
df1 = df1.astype({'cyl':'object'})
print(df1.dtypes)

manufacturer     object
model            object
displ           float64
year              int64
cyl              object
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [5]:
df1 = df.astype({'cyl':'int'})
print(df1.dtypes)

manufacturer     object
model            object
displ           float64
year              int64
cyl               int32
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [6]:
df1['cyl'].value_counts()

4    81
6    79
8    70
5     4
Name: cyl, dtype: int64

- 기초통계량(평균,중앙값,IQR,표준편차)
- 중심측도(평균,중앙값,최빈값)

In [7]:
df=pd.read_csv('mtcars.csv')
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [8]:
df.shape

(32, 11)

In [9]:
# 평균값 구하기
mpg_mean=df['mpg'].mean()
print(mpg_mean)

20.090624999999996

In [10]:
# 중앙값 구하기
mpg_median=df['mpg'].median()
print(mpg_median)

19.2

In [11]:
# 최빈값 구하기
mpg_mode=df['cyl'].mode()
print(mpg_mode)

0    8
Name: cyl, dtype: int64

In [12]:
print(mpg_mode[0])

8

In [13]:
df['cyl'].value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

- 산포도를 나타내는 값
- 분산,표준편차,IQR,범위(최대-최소)

In [14]:
# 분산
mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258065

In [15]:
# 표준편차
mpg_std = df['mpg'].std()
print(mpg_std)

6.026948052089105

In [16]:
# IQR
Q1=df['mpg'].quantile(0.25)
Q3=df['mpg'].quantile(0.75)
print(Q1)
print(Q3)

15.425
22.8

In [17]:
IQR=Q3-Q1
print(IQR)

7.375

In [18]:
Q2=df['mpg'].quantile(0.5)
print(Q2)
print(df['mpg'].median())

19.2
19.2

In [19]:
# 범위(Range)=최대값-최소값
mpg_max=df['mpg'].max()
mpg_min=df['mpg'].min()
mpg_range=mpg_max-mpg_min
print(mpg_max)
print(mpg_min)
print(mpg_range)

33.9
10.4
23.5

In [20]:
# 분포의 비대칭도
mpg_skew=df['mpg'].skew()
mpg_kurt=df['mpg'].kurt()
print(mpg_skew)
print(mpg_kurt)

0.6723771376290805
-0.0220062914240855

In [21]:
print(df['mpg'].sum())
print(abs(Q1-Q3))
print(len(df['mpg']))

642.9000000000001
7.375
32

In [22]:
# 그룹화하여 계산하기(groupby)
import seaborn as sns
df=sns.load_dataset('iris')
df.head()

C:\Anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [23]:
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [24]:
df.groupby('species').median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0