In [1]:
# 카이제곱검정 : 표본의 관측된 빈도수와 기대빈도의 차이를 바탕으로
# 두 집단의 동일성과 독립성을 확인할 수 있는 방법

# 연속형변수 -> 모평균차이검정, 범주형변수 -> 독립성검정

# 독립표본t검정(독립인 두집단에 대한 모평균차이 비교)
# 대응표본t검정(대응되는 두집단에 대한 평균차이 비교)
# 카이제곱검정(두 범주형 변수에 대한 독립성 여부 검정)

In [4]:
# 독립표본t검정
# 일평균 스마트폰 사용시간이 성별에 따라 다를까?
# 동아리 활동여부에 따라 학교생활 만족도에 차이가 있을까?

# 1.각데이터셋의 정규성 확인을 위해 shapiro()함수를 적용
x1 = [44,44,56,46,47,38,58,53,49,35,46,30,41]
x2 = [35,47,55,29,40,39,32,41,42,57,51,39]

!pip install scipy

from scipy.stats import levene, ttest_ind, shapiro

shapiro(x1)

Collecting scipy
  Downloading scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
     ---------------------------------------- 34.1/34.1 MB 3.8 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in c:\users\m\.conda\envs\cospropython\lib\site-packages (from scipy) (1.21.6)
Installing collected packages: scipy
Successfully installed scipy-1.7.3

ShapiroResult(statistic=0.978407084941864, pvalue=0.9708739519119263)

In [5]:
shapiro(x2) # pvalue가 0.05이상이므로 귀무가설을 채택하므로 정규성을 만족

ShapiroResult(statistic=0.9537350535392761, pvalue=0.6920550465583801)

In [6]:
# 두 집단 데이터에 대한 등분산 가정을 확인하기 위해 levene()함수 적용
levene(x1,x2) # pvalue가 0.05이상이므로 귀무가설을 채택하므로 등분산을 만족

LeveneResult(statistic=0.09230190178073239, pvalue=0.7640023844571427)

In [7]:
# 독립표본 t검정
import numpy as np
print("one sample 평균1) ", np.mean(x1))
print("one sample 평균2) ", np.mean(x2))

print("one sample 표준편차1) ", np.std(x1))
print("one sample 표준편차2) ", np.std(x2))

one sample 평균1)  45.15384615384615
one sample 평균2)  42.25
one sample 표준편차1)  7.6846115346105694
one sample 표준편차2)  8.367845202519781

In [9]:
result = ttest_ind(x1,x2) # equal_var=True(기본값)
print("t 검정통계량: %.5f, p값: %.5f"%result) # pvalue가 0.05이상이므로 귀무가설을 채택

t 검정통계량: 0.86755, p값: 0.39460

In [10]:
# 단측검정의 경우에는,
result = ttest_ind(x1,x2, alternative="greater") # equal_var=True(기본값)
print("t 검정통계량: %.5f, p값: %.5f"%result) # pvalue가 0.05이상이므로 귀무가설을 채택

t 검정통계량: 0.86755, p값: 0.19730

In [15]:
# 대응표본 t검정
# 두 모평균 비교에 있어서 두 모집단이 서로 독립이 아닌 경우 실험단위를 동질적인 쌍으로
# 묶은 다음 각 쌍을 임의로 추출하여 통계적으로 비교하는 방법

x1 = [70,80,72,76,76,76,72,78,82,64,74,92,74,68,84]
x2 = [68,72,62,70,58,66,68,52,64,72,74,60,74,72,74]

from scipy.stats import ttest_rel, shapiro

In [16]:
# 각 데이터셋의 정규성 확인을 위해 shapiro()함수를 적용
shapiro(x1)

ShapiroResult(statistic=0.9687387943267822, pvalue=0.8389564752578735)

In [17]:
shapiro(x2)

ShapiroResult(statistic=0.900780975818634, pvalue=0.09782424569129944)

In [18]:
import numpy as np
print("one sample 평균1) ", np.mean(x1))
print("one sample 평균2) ", np.mean(x2))

print("one sample 표준편차1) ", np.std(x1))
print("one sample 표준편차2) ", np.std(x2))

one sample 평균1)  75.86666666666666
one sample 평균2)  67.06666666666666
one sample 표준편차1)  6.631909394904474
one sample 표준편차2)  6.444291185917105

In [19]:
result = ttest_rel(x1, x2, alternative="greater")
print("t 검정통계량: %.5f, p값: %.5f"%result) #유의확률이 유의수준 0.05보다 작으므로 귀무가설을 기각, 대응인 두 집단에 평균차이가 있다

t 검정통계량: 3.10536, p값: 0.00387

In [20]:
# 카이제곱검정 : 두 범주형 변수간의 상호관련성이 존재하는지 확인하기 위한 검정
import seaborn as sns
df = sns.load_dataset('penguins')
print(df)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]

In [21]:
# 귀무가설 : 서식지(island)와 펭귄의 종(species)는 관계가 없다
# 대립가설 : 서식지(island)와 펭귄의 종(species)는 관계가 있다

# 1. 이원분할표 만들기
# 빈도표 작성을 위해 pandas 모듈의 crosstab()함수 사용

import pandas as pd
cross_data = pd.crosstab(df.species, df.island)
print(cross_data)

island     Biscoe  Dream  Torgersen
species
Adelie         44     56         52
Chinstrap       0     68          0
Gentoo        124      0          0

In [22]:
cross_data1 = pd.crosstab(df.species, df.island, margins=True)
print(cross_data1)

island     Biscoe  Dream  Torgersen  All
species
Adelie         44     56         52  152
Chinstrap       0     68          0   68
Gentoo        124      0          0  124
All           168    124         52  344

In [23]:
# 2. chi2_contingency() 함수에 이원분할표를 대입하여 카이제곱검정 실시
from scipy.stats import chi2_contingency
chi2_contingency(cross_data) # 카이제곱통계량, 유의확률, 자유도

(299.55032743148195,
 1.3545738297192517e-63,
 4,
 array([[74.23255814, 54.79069767, 22.97674419],
        [33.20930233, 24.51162791, 10.27906977],
        [60.55813953, 44.69767442, 18.74418605]]))

In [24]:
chi2, p, dof, expected = chi2_contingency(cross_data)
print("chi2 검정통계량: %.5f, 자유도: %d, p값: %.5f"%(chi2, dof, p))

chi2 검정통계량: 299.55033, 자유도: 4, p값: 0.00000

In [25]:
EX = pd.DataFrame(expected)
EX.columns = cross_data.columns
EX.index = cross_data.index
print(EX)

island        Biscoe      Dream  Torgersen
species
Adelie     74.232558  54.790698  22.976744
Chinstrap  33.209302  24.511628  10.279070
Gentoo     60.558140  44.697674  18.744186

In [26]:
# 데이터분석 실습
# 1. 제조국에 따른 가속성능(acceleration) 차이 검정
import seaborn as sns
df = sns.load_dataset('mpg')
print(df)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [28]:
origin_USA = df.loc[df.origin=="usa",'acceleration']
print(origin_USA)

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
       ...
392    17.3
393    15.6
395    11.6
396    18.6
397    19.4
Name: acceleration, Length: 249, dtype: float64

In [29]:
origin_JAP = df.loc[df.origin=="japan",'acceleration']
print(origin_JAP)

14     15.0
18     14.5
29     14.5
31     14.0
53     19.0
       ...
382    16.9
383    15.0
384    15.7
385    16.2
390    13.9
Name: acceleration, Length: 79, dtype: float64

In [30]:
# 정규성검정 확인
from scipy.stats import levene, ttest_ind, shapiro
shapiro(origin_USA) # 미국의 가속성능은 정규성을 만족

ShapiroResult(statistic=0.9953622221946716, pvalue=0.6593465805053711)

In [31]:
shapiro(origin_JAP) # 일본의 가속성능은 정규성을 만족

ShapiroResult(statistic=0.9857597947120667, pvalue=0.5289148092269897)

In [32]:
levene(origin_USA, origin_JAP) # 미국의 가속성능과 일본의 가속성능은 유의수준 0.05보다 작으므로 
# 귀무가설을 채택, 등분산성을 만족하지 않는다

LeveneResult(statistic=8.840152557033464, pvalue=0.0031662912439459037)

In [33]:
import numpy as np
print("one sample 평균1) ", np.mean(origin_USA))
print("one sample 평균2) ", np.mean(origin_JAP))

print("one sample 표준편차1) ", np.std(origin_USA))
print("one sample 표준편차2) ", np.std(origin_JAP))

one sample 평균1)  15.033734939759036
one sample 평균2)  16.17215189873418
one sample 표준편차1)  2.7455817932741198
one sample 표준편차2)  1.94252456829914

In [34]:
result = ttest_ind(origin_USA, origin_JAP, equal_var=False)

In [35]:
print("t 검정통계량: %.5f, p값: %.5f"%result) # 유의확률이 0.0007이므로 귀무가설을 기각하므로, 
# 제조국에 따라 가속성능에는 차이가 있다

t 검정통계량: -4.05614, p값: 0.00007

In [36]:
result = ttest_ind(origin_USA, origin_JAP, equal_var=False, alternative='less')
print("t 검정통계량: %.5f, p값: %.5f"%result) 
# 일본의 가속성능 평균값이 미국에 비해 크다는 대립가설을 검정시 alternative 옵션에 less 입력

t 검정통계량: -4.05614, p값: 0.00004

In [37]:
# 자동차 사고 원인 변수에 대한 차이 검정
import seaborn as sns
df = sns.load_dataset('car_crashes')
print(df.head())

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total           51 non-null     float64
 1   speeding        51 non-null     float64
 2   alcohol         51 non-null     float64
 3   not_distracted  51 non-null     float64
 4   no_previous     51 non-null     float64
 5   ins_premium     51 non-null     float64
 6   ins_losses      51 non-null     float64
 7   abbrev          51 non-null     object
dtypes: float64(7), object(1)
memory usage: 3.3+ KB

In [39]:
# 정규성검정
from scipy.stats import shapiro
shapiro(df.not_distracted) # 유의확률이 0.05보다 크고 귀무가설을 채택하므로, 정규성을 만족한다

ShapiroResult(statistic=0.9856274127960205, pvalue=0.788989245891571)

In [40]:
shapiro(df.no_previous) # 유의확률이 0.05보다 크고 귀무가설을 채택하므로, 정규성을 만족한다

ShapiroResult(statistic=0.9862307906150818, pvalue=0.8144702315330505)

In [41]:
import numpy as np
print("one sample 평균1) ", np.mean(df.not_distracted))
print("one sample 평균2) ", np.mean(df.no_previous))

print("one sample 표준편차1) ", np.std(df.not_distracted))
print("one sample 표준편차2) ", np.std(df.no_previous))

one sample 평균1)  13.573176470588237
one sample 평균2)  14.004882352941177
one sample 표준편차1)  4.464552581521676
one sample 표준편차2)  3.727580630745389

In [42]:
from scipy.stats import ttest_rel
result = ttest_rel(df.not_distracted, df.no_previous)
print("t 검정통계량: %.5f, p값: %.5f"%result) # 유의확률이 0.31256이므로, 귀무가설을 채택하고,
# 자동차 사고 원인 변수에 대해 차이가 없다

t 검정통계량: -1.02016, p값: 0.31256

In [43]:
result = ttest_rel(df.not_distracted, df.no_previous, alternative='less')
print("t 검정통계량: %.5f, p값: %.5f"%result) # 유의확률이 0.15628이므로, 귀무가설을 채택하므로,
# 자동차 사고 원인 변수에 대한 차이가 없다

t 검정통계량: -1.02016, p값: 0.15628

In [44]:
# 성별과 생존여부 간의 독립성 검정
import seaborn as sns
df = sns.load_dataset('titanic')
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [46]:
# 이원분할표 생성
import pandas as pd
cross_data1 = pd.crosstab(df.sex, df.alive, margins=True)
print(cross_data1)

alive    no  yes  All
sex
female   81  233  314
male    468  109  577
All     549  342  891

In [50]:
from scipy.stats import chi2_contingency
chi2_contingency(cross_data1)

(263.05057407065567,
 1.0036732821369117e-55,
 4,
 array([[193.47474747, 120.52525253, 314.        ],
        [355.52525253, 221.47474747, 577.        ],
        [549.        , 342.        , 891.        ]]))

In [51]:
chi2, p, dof, expected = chi2_contingency(cross_data1)
print("chi2 검정통계량: %.5f, 자유도: %d, p값: %.5f"%(chi2, dof, p))
# 유의확률이 0.0000이므로 귀무가설을 기각하므로, 성별과 생존여부에 대해선 독립이 아니다

chi2 검정통계량: 263.05057, 자유도: 4, p값: 0.00000

In [52]:
EX = pd.DataFrame(expected)
EX.columns = cross_data1.columns
EX.index = cross_data1.index
print(EX)

alive           no         yes    All
sex
female  193.474747  120.525253  314.0
male    355.525253  221.474747  577.0
All     549.000000  342.000000  891.0