In [1]:
import pandas as pd

# object 문자열
# category 카테고리
# datetime64 날짜, 시간

df = pd.DataFrame({'float':[1.0,2.0],
                  'int':[1,2],
                  'datetime':[pd.Timestamp('20200101'),pd.Timestamp('20210101')],
                  'string':['a','b'],
                  'bool':[True,False],
                  'object':[1,'-'],
                  'float2':[1.0,2]})
df

   float  int   datetime string   bool object  float2
0    1.0    1 2020-01-01      a   True      1     1.0
1    2.0    2 2021-01-01      b  False      -     2.0

In [2]:
# 데이터프레임의 자료형 확인
df.dtypes

float              float64
int                  int64
datetime    datetime64[ns]
string              object
bool                  bool
object              object
float2             float64
dtype: object

In [3]:
# 시리즈의 자료형 확인
df['int'].dtype

dtype('int64')

In [4]:
# 자료형이 혼합된 컬럼의 자료형 확인
# 숫자형과 문자형이 혼합되어 있는 경우 각 데이터의 자료형 확인
type(df.loc[0,'object'])

int

In [5]:
df.loc[1,'object']

'-'

In [6]:
type(df.loc[1,'object'])

str

In [7]:
# 자료형변환
# 데이터프레임.astype(자료형)
# 시리즈.astype(자료형)

# 샘플데이터
df = pd.DataFrame({'col1':[1,2],'col2':[3,4]})
df

   col1  col2
0     1     3
1     2     4

In [8]:
df=df.astype("float64")
df.dtypes

col1    float64
col2    float64
dtype: object

In [9]:
df=df.astype('str')
df.dtypes

col1    object
col2    object
dtype: object

In [11]:
df=df.astype('float').astype('int')
df.dtypes

col1    int32
col2    int32
dtype: object

In [12]:
# 컬럼의 자료형 변환
# col2만 str로
df['col2']=df['col2'].astype('str')
df.dtypes

col1     int32
col2    object
dtype: object

In [13]:
# col2만 float로
df['col2']=df['col2'].astype('float')
df.dtypes

col1      int32
col2    float64
dtype: object

In [14]:
# col2만 int로
df['col2']=df['col2'].astype('int')
df.dtypes

col1    int32
col2    int32
dtype: object

In [16]:
# 자료형이 혼합된 컬럼의 자료형 변환
df=pd.DataFrame({'col1':[1,2],'col2':[3,4],'col3':[5,'-']})
df

   col1  col2 col3
0     1     3    5
1     2     4    -

In [17]:
# 전체 자료형 확인
df.dtypes

col1     int64
col2     int64
col3    object
dtype: object

In [18]:
# col3를 str로
df['col3']=df['col3'].astype('str')
type(df.loc[0,'col3'])

str

In [20]:
s2=pd.Series(['1.0','2',-3,'a'])

In [22]:
pd.to_numeric(s2,errors='ignore') # 에러가 나서 작업을 하지 않어

0    1.0
1      2
2     -3
3      a
dtype: object

In [23]:
pd.to_numeric(s2,errors='coerce') # 숫자로 변경할 수 없는 값이 nan으로 설정

0    1.0
1    2.0
2   -3.0
3    NaN
dtype: float64

In [24]:
df=pd.read_csv('data/birth_die.csv')
df.head()

       이름     주요경력          출생          사망
0  스티븐 호킹  이론 물리학자  1942-01-08  2018-03-14
1   마이클잭슨       가수  1958-08-29  2009-06-25
2   스티브잡스      CEO  1955-02-24  2011-10-05
3  로빈윌리엄스       배우  1951-07-21  2014-08-11
4   앨빈토플러     미래학자  1928-10-04  2016-06-27

In [25]:
df['출생']=df['출생'].astype('datetime64')

In [26]:
df['사망']=pd.to_datetime(df['사망'])

In [27]:
df.dtypes

이름              object
주요경력            object
출생      datetime64[ns]
사망      datetime64[ns]
dtype: object